.navbar-toggler {
  border-radius: 0;
  border-color: $orange;
}

#post-container {
  margin-left: 1px;
}

.fixed-height-img {
  height: 100px; 
}

.bg-orange {
  background-color: map-get($colors, "orange");
}

